h2.post-subheading,
.intro-header.big-img .post-heading .post-meta,
div.post-heading h1 {
    /* color: #404040; */
}

.header-section.has-img .intro-header.no-img {
    display: block;
}
.intro-header.no-img .post-heading span {
    display: None;
}

.intro-header.big-img .post-heading span,
.intro-header.big-img .post-heading h2,
.intro-header.big-img .post-heading h1 {
    display: none;
}